{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": "off",
    "no-plusplus": "off",
    "react/prop-types": "off",
    "no-console": "off"
  },
  "env": {
    "browser": true
  }
}
